*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul, li{
    list-style-type: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/* ======   NAVBAR CSS START ====== */
#navbar{
    background: #1C1E53;
    padding-top: 8px;
    padding-bottom: 8px;
}

#navbar .collapse ul li a{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #BBBBCB;
    padding: 0;
    margin: 0 16px;
    transition: all linear .4s;
}
#navbar .collapse ul li a:hover{
    color: #ffffff;
}
#navbar .collapse ul li:last-child a{
    margin-right: 0;
}
#navbar .collapse ul li:first-child a{
    margin-left: 0;
}
#navbar .nav-button{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 16px 48px;
    background: transparent;
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    transition: all linear .4s;
}
#navbar .nav-button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border: 1px solid #FCD980;
}
/* ======   NAVBAR CSS END ====== */

/* ======   CONTACTUS CSS START ====== */
#contactus{
    margin: 128px 0;
}
#contactus .contactus-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactus .contactus-top h1{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    margin-bottom: 16px;
}
#contactus .contactus-top p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.705);
    width: 562px;
    text-align: center;
    margin-bottom: 64px;
}
#contactus .contact-box{
    padding: 55px 76px 69px 77px;
    background-color: #F4F6FC;
    border-radius: 12px;
}
#contactus .contact-box-top{
    display: flex;
    justify-content: space-between;
}
#contactus .contact-box .label{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    display: block;
    margin-bottom: 6px;
}
#contactus .contact-box .input::placeholder{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;  
}
#contactus .contact-box .input{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    padding: 20px 70px 20px 18px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: transparent;
    margin-bottom: 24px;
}
#contactus .contact-box-bottom input::placeholder{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000; 
}
#contactus .contact-box-bottom input{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    padding: 20px 70px 92px 18px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: transparent;
    width: 100%;
}
#contactus .contact-box a{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #F4F6FC;
    padding: 16px 64px;
    background-color: #282938;
    border-radius: 41px;
    border: 1px solid transparent;
    transition: all .4s ease-in-out;
    margin-top: 32px;
}
#contactus .contact-box a:hover{
    color: #282938;
    padding: 16px 64px;
    background-color: transparent;
    border: 1px solid #282938;
}
/* ======   CONTACTUS CSS END ====== */


/* ======   FOOTER CSS START ====== */
#footer{
    padding-top: 96px;
    background-color: #1C1E53;
}
#footer .footer-left .footer-text{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    margin: 24px 0 86px 0;
    width: 399px;
}
#footer .footer-left .contact-info{
    background-color: #FCD980;
    padding: 17px 137px 16px 37px;
    width: 517px;
}
#footer .footer-left .contact-info .contact-info-left{
    margin-right: 29px;
}
#footer .footer-left .contact-info .contact-info-left:last-child{
    margin-right: 0;
}
#footer .footer-left .contact-info .contact-info-left h3{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
    margin-bottom: 1px;
}
#footer .footer-left .contact-info .contact-info-left .address{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.808);

}
#footer .footer-right h2{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
    margin-bottom: 14px;
}
#footer .footer-right p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    margin-bottom: 28px;
    width: 399px;
}
#footer .footer-right .socialmedia-link i{
    margin:0 13px;
}
#footer .footer-right .socialmedia-link i:first-child {
    margin-left: 0;
}

#footer-navbar{
    background-color: #ECECF1;
    padding: 32px 0;
}
#footer-navbar .Copyright{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-bottom: 0;
}
#footer-navbar .navbar-nav ul{
    display: flex;
    margin-bottom: 0;
}
#footer-navbar .navbar-nav ul li{
    margin: 0 16px;
}
#footer-navbar .navbar-nav a{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
/* ======   FOOTER CSS END ====== */