*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul, li{
    list-style-type: none;
    display: inline-block;
}
/* ======   NAVBAR CSS START ====== */
#navbar{
    background: #1C1E53;
    padding-top: 8px;
    padding-bottom: 8px;
}

#navbar .collapse ul li a{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #BBBBCB;
    padding: 0;
    margin: 0 16px;
    transition: all linear .4s;
}
#navbar .collapse ul li a:hover{
    color: #ffffff;
}
#navbar .collapse ul li:last-child a{
    margin-right: 0;
}
#navbar .collapse ul li:first-child a{
    margin-left: 0;
}
#navbar .nav-button{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 16px 48px;
    background: transparent;
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    transition: all linear .4s;
}
#navbar .nav-button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border: 1px solid #FCD980;
}


/* ======   NAVBAR CSS END ====== */


/* ======   BANNER CSS START ====== */
#banner{
    padding: 96px 0;
    background: #F4F6FC;
}
#banner h6{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-bottom: 4px;
}
#banner h2{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    margin-bottom: 24px;
}
#banner p{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    width: 733px;
}
#banner .social-media-icon{
    margin-top: 34px;
}
#banner .social-media-icon ul li a i{
    color: black;
}
#banner .social-media-icon ul li{
    margin: 0 14px;
}

/* ======   BANNER CSS END ====== */


/* ======   OURWORK CSS START ====== */

#ourwork{
    padding: 96px 0 128px 0;
}
#ourwork .ourwork-nav{
    margin-bottom: 48px;
}
#ourwork .ourwork-nav ul li a{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(40, 41, 56, 0.7);
    margin-left: 32px;
    transition: all linear .4s;
}
#ourwork .ourwork-nav ul li a:hover{
    color: #2405F2;
}
#ourwork .ourwork-nav ul li a:active{
    color: #2405F2;
}
#ourwork .ourwork-nav ul li:first-child a{
    margin-left: 0;
}
#ourwork .card{
    border: none;
}

#ourwork .card .img .overlay{
    margin-top: 30px;
    margin-left: 39px;
    margin-bottom: 57px;
    position: relative;
    z-index: 1;
}
#ourwork .card .img .overlay:hover::after{
    opacity: 1;
}
#ourwork .card .img .overlay::after{
    content: "";
    position: absolute;
    top: -30px;
    left: -39px;
    width: 623px;
    height: 380px;
    padding: 30px 39px;
    background: linear-gradient(to bottom right, #F4EDE1, #98B1C6);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}
#ourwork .card h4{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
    margin-bottom: 12px;
}
#ourwork .card p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-bottom: 24px;
    width: 623px;
}
#ourwork .card a{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
#ourwork .card a:hover{
    color: #2405F2;
}
#ourwork .card .img .overlay2{
    margin-top: 30px;
    margin-left: 39px;
    margin-bottom: 57px;
    position: relative;
    z-index: 1;
}
#ourwork .card .img .overlay2:hover::after{
    opacity: 1;
}
#ourwork .card .img .overlay2::after{
    content: "";
    position: absolute;
    top: -30px;
    left: -39px;
    width: 623px;
    height: 380px;
    padding: 30px 39px;
    background: linear-gradient(to bottom right, #FFD3AF, #4F56FF);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}
#ourwork .second-row{
    margin-top: 64px;
}
#ourwork .card .img .overlay3{
    margin-top: 30px;
    margin-left: 39px;
    margin-bottom: 57px;
    position: relative;
    z-index: 1;
}
#ourwork .card .img .overlay3:hover::after{
    opacity: 1;
}
#ourwork .card .img .overlay3::after{
    content: "";
    position: absolute;
    top: -30px;
    left: -39px;
    width: 623px;
    height: 380px;
    padding: 30px 39px;
    background: linear-gradient(to bottom right, #EEBCA7, #C8C8C8);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}
#ourwork .card .img .overlay4{
    margin-top: 30px;
    margin-left: 39px;
    margin-bottom: 57px;
    position: relative;
    z-index: 1;
}
#ourwork .card .img .overlay4:hover::after{
    opacity: 1;
}
#ourwork .card .img .overlay4::after{
    content: "";
    position: absolute;
    top: -30px;
    left: -39px;
    width: 623px;
    height: 380px;
    padding: 30px 39px;
    background: linear-gradient(to bottom right, #C2E7F2, #98A4FF);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}
#ourwork .second-row{
    margin-top: 64px;
}
#ourwork .card .img .overlay5{
    margin-top: 30px;
    margin-left: 39px;
    margin-bottom: 57px;
    position: relative;
    z-index: 1;
}
#ourwork .card .img .overlay5:hover::after{
    opacity: 1;
}
#ourwork .card .img .overlay5::after{
    content: "";
    position: absolute;
    top: -30px;
    left: -39px;
    width: 623px;
    height: 380px;
    padding: 30px 39px;
    background: linear-gradient(to bottom right, #C5BCFF, #9BF6D5);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}
#ourwork .card .img .overlay6{
    margin-top: 30px;
    margin-left: 39px;
    margin-bottom: 57px;
    position: relative;
    z-index: 1;
}
#ourwork .card .img .overlay6:hover::after{
    opacity: 1;
}
#ourwork .card .img .overlay6::after{
    content: "";
    position: absolute;
    top: -30px;
    left: -39px;
    width: 623px;
    height: 380px;
    padding: 30px 39px;
    background: linear-gradient(to bottom right, #D2D6FD, #D6ACEA);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}
/* ======   OURWORK CSS END ====== */

/* ======   CTA CSS START ====== */
#cta{
    padding-bottom: 128px;

}
#cta h3{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    width: 730px;
    text-align: center;
}
#cta p{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.705);
    width: 562px;
    margin: 20px 0 40px 0;
    text-align: center;
}
#cta a{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #1B1C2B;
    padding: 16px 67px;
    background-color: #1C1E53;
    color: #ffffff;
    border-radius: 41px;
    transition: all .5s ease-in-out;
}
#cta a:hover{
    color: #1B1C2B;
    background-color: #FCD980;
}
/* ======   CTA CSS END ====== */

/* ======   FOOTER CSS START ====== */
#footer{
    padding-top: 96px;
    background-color: #1C1E53;
}
#footer .footer-left .footer-text{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    margin: 24px 0 86px 0;
    width: 399px;
}
#footer .footer-left .contact-info{
    background-color: #FCD980;
    padding: 17px 137px 16px 37px;
    width: 517px;
}
#footer .footer-left .contact-info .contact-info-left{
    margin-right: 29px;
}
#footer .footer-left .contact-info .contact-info-left:last-child{
    margin-right: 0;
}
#footer .footer-left .contact-info .contact-info-left h3{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
    margin-bottom: 1px;
}
#footer .footer-left .contact-info .contact-info-left .address{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.808);

}
#footer .footer-right h2{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
    margin-bottom: 14px;
}
#footer .footer-right p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    margin-bottom: 28px;
    width: 399px;
}
#footer .footer-right .socialmedia-link i{
    margin:0 13px;
}
#footer .footer-right .socialmedia-link i:first-child {
    margin-left: 0;
}

#footer-navbar{
    background-color: #ECECF1;
    padding: 32px 0;
}
#footer-navbar .Copyright{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-bottom: 0;
}
#footer-navbar .navbar-nav ul{
    display: flex;
    margin-bottom: 0;
}
#footer-navbar .navbar-nav ul li{
    margin: 0 16px;
}
#footer-navbar .navbar-nav a{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
/* ======   FOOTER CSS END ====== */